.dispProj {
   display: grid;
   grid-template-columns: 1fr 1fr 1fr 1fr;
   gap: 0.75rem;
   position: relative;
   left: 50px;
   top: 30px;
   justify-content: center;
}

#socialHome {
   position: relative;
   top: 40px;
}

@media (max-width: 1250px) {
   .dispProj {
      grid-template-columns: 1fr 1fr 1fr;
      gap: 0.5rem;
   }
}

@media (max-width: 885px) {
   .dispProj {
      grid-template-columns: 1fr 1fr;
      gap: 0.25rem;
   }
}

@media (max-width: 550px) {
   .dispProj {
      grid-template-columns: 1fr;
      left: 100px;
   }
}

@media (max-width: 400px) {
   .dispProj {
      left: 50px;
   }
}
