.libre-baskerville-regular {
   font-family: "Libre Baskerville", serif;
   font-weight: 400;
   font-style: normal;
}

.libre-baskerville-bold {
   font-family: "Libre Baskerville", serif;
   font-weight: 700;
   font-style: normal;
}

.libre-baskerville-regular-italic {
   font-family: "Libre Baskerville", serif;
   font-weight: 400;
   font-style: italic;
}

div > h1 {
   font-family: "Libre Baskerville", serif;
   color: white;
   font-size: 120px;
   position: relative;
   bottom: 75px;
   margin-left: 10px;
}

#hr2 {
   position: relative;
   bottom: 160px;
}

#nav {
   position: relative;
   top: 25px;
   right: 25px;
}

#h1soc {
   display: flex;
   justify-content: space-between;
}

@media (max-width: 690px) {
   div > h1 {
      font-size: 100px;
   }
   #nav {
      top: 0px;
   }
}

@media (max-width: 590px) {
   div > h1 {
      font-size: 80px;
      bottom: 60px;
   }

   #socials {
      display: none;
   }
   #hr2 {
      bottom: 130px;
   }

   #nav {
      bottom: 125px;
   }
}
