.link {
   list-style: none;
   padding: 5px;
   font-size: 20px;
   color: white;
}

.navBar > div {
   color: lightgray;
}

.navBar {
   display: flex;
   flex-direction: column;
   justify-content: center;
}

ul > a {
   text-decoration: none;
}

@media (max-width: 590px) {
   .link {
      font-size: 15px;
      padding: 3px;
   }
}
